/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-Jul-2015, 3:59:25 PM
    Author     : nova
*/
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?-1o5djw');
  src: url('fonts/icomoon.eot?#iefix-1o5djw') format('embedded-opentype'), url('fonts/icomoon.ttf?-1o5djw') format('truetype'), url('fonts/icomoon.woff?-1o5djw') format('woff'), url('fonts/icomoon.svg?-1o5djw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-remove:before {
  content: "\e608";
}
label {
  font-weight: 400;
  margin-bottom: 0;
}
body {
  font-size: 16px;
}
.generalButton {
  display: block;
  border-width: 1px;
  border-radius: 2px;
  border-style: solid;
  margin: 8px;
  padding: 8px 15px;
  text-decoration: none;
  width: 200px;
  font-size: 16px;
  font-weight: 100;
  color: #ffffff;
}
.generalButton:hover {
  cursor: pointer;
}
button.save {
  display: block;
  border-width: 1px;
  border-radius: 2px;
  border-style: solid;
  margin: 8px;
  padding: 8px 15px;
  text-decoration: none;
  width: 200px;
  font-size: 16px;
  font-weight: 100;
  color: #ffffff;
  border-color: #002599;
  background-color: #002bb3;
  max-width: 200px;
}
button.save:hover {
  cursor: pointer;
}
button.save:hover {
  background-color: #0031cc;
}
button.create {
  display: block;
  border-width: 1px;
  border-radius: 2px;
  border-style: solid;
  margin: 8px;
  padding: 8px 15px;
  text-decoration: none;
  width: 200px;
  font-size: 16px;
  font-weight: 100;
  color: #ffffff;
  border-color: #009900;
  background-color: #00b300;
  max-width: 200px;
}
button.create:hover {
  cursor: pointer;
}
button.create:hover {
  background-color: #00cc00;
}
button.remove {
  display: block;
  border-width: 1px;
  border-radius: 2px;
  border-style: solid;
  margin: 8px;
  padding: 8px 15px;
  text-decoration: none;
  width: 200px;
  font-size: 16px;
  font-weight: 100;
  color: #ffffff;
  border-color: #b32400;
  background-color: #cc2900;
  max-width: 200px;
}
button.remove:hover {
  cursor: pointer;
}
button.remove:hover {
  background-color: #e62e00;
}
button.find {
  display: block;
  border-width: 1px;
  border-radius: 2px;
  border-style: solid;
  margin: 8px;
  padding: 8px 15px;
  text-decoration: none;
  width: 200px;
  font-size: 16px;
  font-weight: 100;
  color: #ffffff;
  border-color: #666633;
  background-color: #77773c;
}
button.find:hover {
  cursor: pointer;
}
button.find:hover {
  background-color: #888844;
}
button.btnLangue {
  background-color: transparent;
  border-width: 0;
  font-family: 'Roboto';
  margin-left: 15px;
  margin-bottom: 0;
  color: #454545;
}
button.btnLangue:hover {
  color: #000000;
}
.marginButtonHelper {
  margin: auto !important;
}
.generalLink {
  display: block;
  border-width: 1px;
  border-radius: 2px;
  border-style: solid;
  margin: 8px 2px;
  padding: 8px 20px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
}
a.edit {
  display: block;
  border-width: 1px;
  border-radius: 2px;
  border-style: solid;
  margin: 8px 2px;
  padding: 8px 20px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  border-color: #00324d;
  background-color: #005380;
  max-width: 200px;
}
a.edit:hover {
  background-color: #006599;
}
a.add {
  display: block;
  border-width: 1px;
  border-radius: 2px;
  border-style: solid;
  margin: 8px 2px;
  padding: 8px 20px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  border-color: #334d00;
  background-color: #446600;
  max-width: 200px;
}
a.add:hover {
  background-color: #558000;
}
a.addChild {
  display: block;
  border-width: 1px;
  border-radius: 2px;
  border-style: solid;
  margin: 8px 2px;
  padding: 8px 20px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  border-color: #4d0000;
  background-color: #660000;
}
a.addChild:hover {
  background-color: #800000;
}
a.get {
  display: block;
  border-width: 1px;
  border-radius: 2px;
  border-style: solid;
  margin: 8px 2px;
  padding: 8px 20px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  border-color: #3a2613;
  background-color: #4d3219;
  max-width: 200px;
}
a.get:hover {
  background-color: #603f1f;
}
a.find {
  display: block;
  border-width: 1px;
  border-radius: 2px;
  border-style: solid;
  margin: 8px 2px;
  padding: 8px 20px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  border-color: #132639;
  background-color: #19334d;
  max-width: 200px;
}
a.find:hover {
  background-color: #1f4060;
}
select,
input[type="text"],
input[type="password"],
input[type="input"],
input[type="datetime"] {
  height: 30px;
  width: 100%;
  padding-right: 2px;
  padding-left: 2px;
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  font-size: 14px;
}
input[type="file"] {
  margin: 20px;
  display: inline-block;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding-top: 58px;
  margin: 0;
  background-color: #f2f2f2;
}
ul {
  padding-left: 0;
}
li {
  list-style: none;
}
li ul {
  padding-left: 35px;
}
li form {
  margin-bottom: 0;
}
ul.tree {
  overflow: hidden;
  border-width: 0;
  border-bottom-width: 1px;
  border-color: #000000;
  border-style: solid;
  clear: both;
}
ul.tree li {
  display: inline-block;
  float: right;
  padding-left: 5px;
  /*border-bottom-width: 1px;
        border-bottom-color: #000000;
        border-bottom-style: dashed;*/
}
ul.tree li a {
  text-decoration: none;
}
ul.tree li.department {
  float: left;
  padding-top: 13px;
  height: 40px;
}
ul.tree ul.tree {
  border-width: 0;
  padding-left: 25px;
}
article.container {
  width: 1000px;
  margin: auto;
}
article.title-top {
  z-index: 1030;
  position: fixed;
  margin: auto;
  top: 0;
  width: 100%;
  background-color: #333333;
  color: #ffffff;
}
article.title-top div.title-container {
  margin: auto;
  width: 980px;
}
article.title-top div.title-container h1 {
  margin-left: 0;
  font-size: 20px;
  width: 305px;
  float: left;
  font-weight: 500;
}
article.title-top div.title-container ul.nav-top {
  float: right;
  width: 675px;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #333333;
}
article.title-top div.title-container ul.nav-top li {
  border-right-width: 3px;
  border-right-color: #000000;
  padding: 20px 3px;
  display: inline-block;
}
article.title-top div.title-container ul.nav-top li a {
  text-align: center;
  display: block;
  text-decoration: none;
  color: #ffffff;
}
article.content-login {
  width: 600px;
  margin: auto;
  padding-top: 10%;
}
article.content-login h1 {
  margin-left: 5px;
  font-weight: 500;
  text-align: center;
}
article.content-login form {
  padding: 10px;
}
article.content-login form div label {
  min-width: 150px;
  margin-right: 20px;
  margin: 5px;
  padding-top: 10px;
  float: left;
}
article.content-login form div input {
  width: 300px;
  margin: 5px;
  float: left;
  height: 35px;
  border-width: 1px;
  padding-left: 10px;
}
article.content-login form button {
  height: 50px;
  width: 300px;
  margin-left: 165px;
  margin-top: 15px;
  border-color: #3a2613;
  background-color: #4d3219;
  color: #ffffff;
}
article.content-login form button:hover {
  background-color: #603f1f;
  cursor: pointer;
}
article.nav-account ul li {
  list-style: none;
}
article.nav-account ul li a {
  text-decoration: none;
  font-size: 20px;
}
article.nav-account ul li a:hover,
article.nav-account ul li a:visited {
  text-decoration: none;
}
article.aside {
  position: fixed;
  top: 58px;
  width: 280px;
  background-color: #d9d9d9;
  height: 100%;
  float: left;
}
article.aside ul {
  margin-top: 50px;
}
article.aside ul li {
  list-style: none;
  margin: 10px 0;
}
article.aside ul li a {
  padding-left: 20px;
  text-decoration: none;
  color: #454545;
}
article.aside ul li a:hover {
  color: #000000;
}
article.center {
  position: relative;
  top: 0px;
  background-color: #ffffff;
  width: 700px;
  margin-left: 280px;
  margin-bottom: 20px;
  overflow: auto;
  min-height: calc(100% - 50px);
  padding: 10px;
}
article.center h1 {
  color: #343434;
  font-size: 22px;
  font-weight: 500;
  margin: 15px 10px;
}
article.center h2 {
  margin: 10px 10px;
  font-weight: 500;
  color: #666666;
  font-size: 18px;
}
article.center table {
  margin-top: 50px;
  margin-bottom: 35px;
}
article.center table tr td {
  min-width: 200px;
}
article.center table tr td input[type='checkbox'] {
  cursor: pointer;
  border-radius: 0;
  height: 20px;
  vertical-align: top;
  border: solid 1px #000000;
  width: 20px;
  margin-left: 90px;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
article.center table tr td input[type='checkbox']:checked {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}
article.center table tr.borderBottom {
  border-bottom: solid 1px #666666;
}
article.center div.panel-body table.doc {
  border-width: 1px;
  border-style: solid;
  border-color: #454545;
  margin-top: 15px;
  margin-bottom: 15px;
}
article.center div.panel-body table.doc tr {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #454545;
}
article.center div.panel-body table.doc tr td {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 5px;
  min-width: 140px;
}
nav.nav-admin {
  float: left;
}
nav.nav-admin li {
  float: left;
  display: table-column;
  width: 200px;
  height: 200px;
  padding: 10px;
  line-height: 200px;
  list-style: none;
  margin: 5px;
}
nav.nav-admin li a {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  display: block;
  background-color: #f2f2f2;
  color: #000000;
}
nav.nav-admin li a:hover {
  color: #ffffff;
  background-color: #d9d9d9;
}
footer {
  position: fixed;
  bottom: 0;
  background-color: #333333;
  z-index: 1030;
  width: 100%;
}
footer div {
  width: 980px;
  margin: auto;
  color: #ffffff;
}
footer div p {
  font-size: 14px;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */